<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="text-center">
    <div class="headline_color">
      <h1>
      Have a Laugh 
      </h1>
    </div>
    <div class="col-5">
      <%= link_to 'Add Your Joke', new_joke_path %>
    </div>
     </header>

     <br />

     <br class="clear" />
    <%= yield %>

  </body>
</html>
